.el-table td, .el-table th {
    padding: 8px 0;
}

.el-main, .el-container {
    height: 100%;
}

.el-header, .el-main, .el-footer {
    padding: 0;
}

.el-select {
    display: block;
}

.el-dialog__body {
    box-sizing: border-box;
    max-height: calc(100% - 125px);
    overflow: auto;
}

.el-popconfirm__main {
    margin-top: 5px;
    margin-bottom: 10px;
}

.el-form-item:last-child {
    margin-bottom: 0;
}

.el-menu-item.is-active, .el-menu-item:hover, .el-submenu__title:hover {
    background-color: #f5f8fb !important;
    color: #409eff;
}